img {
     width: 300px;
}
h1 {
  background-color: blueviolet;
}
p{
    background-color: aquamarine;
}
h2{
    text-decoration: underline;
}
#heading{
    text-align: center;
}
.text{
    text-align: end;
}